<article class="article-card">
    <% if (article.image) { %>
        <img src="<%= article.image %>" alt="<%= article.title %>">
    <% } %>
    <div class="article-card-content">
        <div class="article-meta">
            <span class="category-tag"><%= article.category %></span> - <time datetime="<%= article.date %>"><%= new Date(article.date).toLocaleDateString() %></time>
        </div>
        <h3><a href="/article/<%= article.slug %>"><%= article.title %></a></h3>
        <% if (article.content) { %>
            <!-- Simple excerpt - in real app, generate proper excerpt -->
            <p><%- article.content.substring(0, 100).replace(/<[^>]+>/g, '') %>...</p>
        <% } %>
        <a href="/article/<%= article.slug %>" class="read-more">Read More &rarr;</a>
    </div>
</article>