<%- include('partials/header') %>
<main class="container error-page">
    <h1><%= message %></h1>
    <% if (error.status) { %>
        <h2><%= error.status %></h2>
    <% } %>
    <% if (error.stack && process.env.NODE_ENV === 'development') { %>
        <pre><%= error.stack %></pre>
    <% } %>
    <a href="/">Go to Homepage</a>
</main>
<%- include('partials/footer') %>